.App {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 30pt;
  margin: 0;
}

.App-button {
  margin: .5em;
}

.App-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12pt;
}

.App-people {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 120px 120px 120px;
  align-items: center;
  justify-items: center;
  gap: 10px 5px;
}

button {
  border: 2px solid #DADDEC;
  margin: 5px 0 10px;
  font-size: 1rem;
  color: #656880;
  cursor: pointer;
}